[Desktop Entry]
Version=1.0
Type=Application
Name=Open folder in new tab in Konsole
#GenericName=Open at timestamp
#Comment=
Icon=konsole
#Keywords=audio;player;music;
#Categories=AudioVideo;Audio;Player;
Exec=bash -c 'konsole --new-tab --workdir "$1" & wmctrl -Fxa konsole.konsole' bash %f
#TryExec=
#StartupNotify=false
#Terminal=false
MimeType=inode/directory;
