[Desktop Entry]
Exec=bash -c 'for i in ~/.config/linux-setup/autostart/*; do bash -- "$i" & disown; done'
Icon=dialog-scripts
Name=linux-setup-autostart
Path=
Type=Application
X-KDE-AutostartScript=true
